<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSocial09</key>
	<array>
		<string>getPerson</string>
		<string>getPersonWithKeys</string>
		<string>getFriends</string>
		<string>getOnlineFriends</string>
		<string>getAlbums</string>
		<string>updateAlbum</string>
		<string>getMediaItems</string>
		<string>getMediaItem</string>
		<string>addPhoto</string>
		<string>getSupportedVideoCategories</string>
		<string>getVideos</string>
		<string>addVideo</string>
		<string>updateMediaItem</string>
		<string>getMediaItemComments</string>
		<string>getActivities</string>
		<string>createActivity</string>
		<string>getFriendActivities</string>
		<string>getAppActivities</string>
		<string>addAppData</string>
		<string>getAppDataWithKeys</string>
		<string>deleteAppData</string>
		<string>getGroups</string>
		<string>getGroup</string>
		<string>getSupportedMoods</string>
		<string>getMoodStatus</string>
		<string>getTopFriendsMoodStatus</string>
		<string>updateMoodStatus</string>
		<string>getMoodStatusComments</string>
		<string>updateMoodStatusComments</string>
		<string>sendNotification</string>
		<string>getProfileComments</string>
	</array>
	<key>V1</key>
	<array>
		<string>getCurrentUser</string>
		<string>getFriendship</string>
		<string>getIndicators</string>
		<string>getActivitiesApplicationInstalls</string>
		<string>getActivitiesApplicationUse</string>
		<string>getActivitiesEventHosting</string>
		<string>getActivitiesEventAttending</string>
		<string>getActivitiesEventBandShow</string>
		<string>getActivitiesMusicSongPost</string>
		<string>getActivitiesMusicProfileSongAdd</string>
		<string>getActivitiesMusicPlaylistEdit</string>
		<string>getActivitiesNotesStatusUpdates</string>
		<string>getActivitiesNotesBlogPost</string>
		<string>getActivitiesNotesForumPost</string>
		<string>getActivitiesPersonFriendAdd</string>
		<string>getActivitiesPersonGroupJoin</string>
		<string>getActivitiesPersonFriendCategoryAdd</string>
		<string>getActivitiesPhotoAdd</string>
		<string>getActivitiesPhotoTagged</string>
		<string>getActivitiesVideoShared</string>
		<string>getActivitiesVideoAdd</string>
	</array>
	<key>OpenSearch</key>
	<array>
		<string>searchPeople</string>
		<string>searchImages</string>
		<string>searchVideos</string>
	</array>
</dict>
</plist>
